#home {
	background: #baaabf;
}
#cheney, #spokane, #seattle, #custom {
	background: lightblue;
}

#toppy, #bottomy {
	background: #3b0649;
	color: #baaabf;
	text-decoration: none;
	text-shadow: none;
	border: none;

}

[data-role="content"] {
	text-align: center;
	font-size: 1.5rem;
}